/* Declare the Varibales */
:root {
    /* Font Variable */
    --globalFontSize: 14px;
    --globalFontFamily: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    
    /* Color Variable */
    --globalColor: #484848;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    color: var(--globalColor);
    font-size: var(--globalFontSize);
    font-family: var(--globalFontFamily);
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;    
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    /* minimum width: 300px, max-width: 1000px */
    width: clamp(300px, 90vw + .5rem, 1000px);
    margin: 30px auto;
}
